*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    color:white;
    background-color: #191720;
}

a{
    font-weight: 600;
    color: white;
}

main{
    padding: 10px;
    height: 100vh;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}
.left{
    display: none;
}
.right{
    padding: 40px;
    height: 100%;
}
.sing-up{
    font-size: 0.9rem;
    text-align: right;
}
.logo-right,
.logo-right,
svg{
    height: 70px;
    width:120px;
}

.join{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


form{
    margin: 50px auto;
}
.email,
.password{
    display:flex;
    flex-direction: column;
}
label{
    font-weight:600;
}
input[type="email"],
input[type="password"]{
    padding-left: 10px;
    height: 48px;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 2px solid #34333c;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #1e1c24;
}

.password{
    margin-top: 20px;
}

button[type="submit"]{
    height:48px;
    margin-top: 45px;
    font-weight: 600;
    color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, #6871fc 0, #393ddc 100%);
}

@media only screen and (min-width: 200px) {
    .join,
    h2,
    h3{
        font-weight: 500;
    }
    .join,
    h2{
        font-size: 16px;
    }
    .join,
    h3{
        font-size: 24px;
    }
    .join,
    p{
        font-size: 14px;
    }
    button[type="submit"]{
        width: 100%;
    }
    h1{
        display: none;
    }
    hr{
        display: none;
    }
    .sing-up{
        margin-bottom: 5px;
    }
}

/* responsive mobile fist */

@media only screen and (min-width:500px) {
    .right{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width:700px) {
    .right{
        width: 70%;
        margin: auto;
    }
}

/*
    display left section 900px
*/

@media only screen and (min-width:900px) {
    main {
        display: flex;
        padding: 0;
    }
    .left{
        position: relative;
        display: block;
        height: 100%;
        width: 50%;
    }
    .glass-account,
    .sing-up{
        font-size: 20px;
    }
    h1{
        display: block;
    }
    hr{
        display: block;
    }

    .left img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px 30px 30px 0px;
        z-index: -1;
    }
    .left
    .filterBackground{
        padding:20px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 5%);
        width: 80%;
        height: 90%;
        margin: auto;
        border-radius: 15px;
        backdrop-filter: blur(60px);
        background-color: rgba(25,23,32,0.2);
    }
    .message{
        display: flex;
        flex-direction: column;
        margin-top:20px;
        gap:20px;
    }
    .message h1{
        font-size: 40px;
        font-weight: 500;
    }
    .message h2{
        font-size: 32px;
        font-weight: 500;
    }
    .message p{
        font-size: 20px;
        font-weight: 500;
    }
    .glass-account{
        position: absolute;
        bottom: 20px;
    }
    .right{
        height: 85%;
        margin: auto;
        width: 50%
    }
    .right h1{
        font-size:2rem;
    }
    .logo-right{
        display:none;
    }
    .join{
        display:none;
    }
    .sing-up{
        margin-top: 50px;
    }

    input[type="email"],
    input[type="password"],
    button{
        height: 62px;
    }

    button{
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px){

    form{
        max-width: 500px;
    }
    hr{
        max-width: 500px;
        margin: auto;
    }
    .sing-in,
    .sing-up{
        max-width: 500px;
        margin: 50px auto;
    }
}